@font-face {
    font-family: "PixelType";
    src: url("PixelType.woff") format('woff');
}


html,body,ul,li,h1,h2,h3,h4,p{margin:0; padding:0;}
.loading{
  position:absolute;
  top:240px;
  left:44%;
  font-size:5.5em;
  color:#29304c;
}

.wrapper{width:100%;}
.controls,.welcome{color:white;text-align: center;position:relative;}
.welcome{top:10px; font-size:2em;}
.controls{top:18px;height:15px;visibility:hidden;line-height:1;font-size:1.2em;}
body,.wrapper,canvas,.loading,.controls,.welcome{font-family: 'PixelType';}
body,canvas{transition: background-color 2s ease;}
canvas{
      -webkit-user-select: none;  /* Chrome all / Safari all */
      -moz-user-select: none;     /* Firefox all */
      -ms-user-select: none;      /* IE 10+ */
      -o-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
}
body.day{background-color:#8cc6ef;}
canvas.day{background-color:#97e470;width:512px; height:512px; }
body.night{background-color:#241b2f;}
canvas.night{background-color:#7599da;width:512px; height:512px; }
#canvas{
    display:block;
    margin:0 auto;
    margin-top:50px;
  }
.shadow{
  -webkit-box-shadow: -4px 9px 47px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 9px 47px -10px rgba(0,0,0,0.75);
  box-shadow: -4px 9px 47px -10px rgba(0,0,0,0.75);
  }
